# OS
.DS_Store

# Python
__pycache__/
*.pyc

#Virtual Environments
.venv
env

# Build/Packaging
dist/
build/
*.egg-info/

# Model Files
*.gguf
models/*.gguf

# Runtime outputs
*.wav

# Experimental/Incomplete Features
chatbot/test
**/test/
chatbot/web
*.ipynb_checkpoints/